{% extends "base.html" %}

{% block content %}
<div class="mx-auto py-6 px-4">
    <!-- Bread Crumb -->
    <ul class="bg-base-100 border-base-100 rounded-lg px-4 py-3 inline-flex justify-start items-center gap-4">
        <li><a href="/reviews/assignment_dashboard/">Assignments</a></li>
        <li><i class="fa fa-angle-right"></i></li>
        <li><a href="#">Create manual Assignment</a></li>
    </ul>
    <div class="mt-8">
        <h4 class="text-4xl">Create Ticket Assignment</h4>
        <div class="rounded-lg px-6 py-6 bg-base-100 mt-6">
            <form method="post">
                {% csrf_token %}
                <!-- ADD USER -->
                 <input type="hidden" id="account_id" name="account_id" value="{{ user.id }}">
                <!-- {{ form.as_p }} -->
                <div class="space-y-4">
                    <!-- Assignment Rule -->
                    <div class="space-y-2">
                        <label for="{{ form.assignment_rule.id_for_label }}">Assignment Rule</label>
                        {{ form.assignment_rule }}
                    </div>
                    <!-- Reviewer -->
                    <div class="space-y-2">
                        <label for="{{ form.reviewer.id_for_label }}">Reviewer</label>
                        {{ form.reviewer }}
                    </div>
                    <div class="space-y-2">
                        <label>Reviews</label>
                        {{ form.reviews }}
                    </div>
                    <div class="flex max-lg:flex-col justify-start lg:items-end gap-4">
                        <div class="space-y-2">
                            <label for="assignment-name">Start Date</label>
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                {{ form.start_date }}
                            </div>
                        </div>
                        <div class="space-y-2">
                            <label for="assignment-name">End Date</label>
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                {{ form.end_date }}
                            </div>
                        </div>
                        <div class="space-y-2">
                            <button type="button"
                                class="btn p-3 !h-auto w-40 flex justify-center items-center gap-2 border rounded-lg border-base-300 text-sm">
                                <i class="fa fa-refresh"></i> Reccurence
                            </button>
                        </div>
                    </div>
                    <div class="my-4 border-t border-base-200"></div>
                    <div class="space-y-4">
                        <h6 class="text-2xl">Filters</h6>
                        <p>2 filters selected</p>
                        <!-- Filter group -->
                        <div class="space-y-4">
                            <div class="rounded-lg overflow-clip border-base-100 shadow"  x-data="{open: true}">
                                <div class="flex justify-between bg-base-300 rounded-t-lg">
                                    <div class="flex justify-start items-center gap-4">
                                        <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                            {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                        </span>
                                        <span class="uppercase">filter a</span>
                                    </div>
                                    <div class="flex justify-end gap-2 lg:gap-8 pr-4">
                                        <div class="flex justify-end items-center gap-1 lg:gap-4">
                                            <button type="button" class="py-1 px-3 text-sm rounded-lg bg-base-100 border-base-100 flex justify-center items-center gap-2">
                                                Actions <i class="fa fa-angle-down"></i>
                                            </button>
                                            <button type="button" class="py-1 px-3 text-sm rounded-lg bg-base-100 border-base-100 flex justify-center items-center gap-2">
                                                <i class="fa fa-pencil"></i> Edit
                                            </button>
                                        </div>
                                        <button type="button" class="p-2" @click="open = !open">
                                            <i :class="['fa', 'fa-angle-up', 'transition-transform', open ? '' : '-rotate-180']"></i>
                                        </button>
                                    </div>
                                </div>
                                <div x-show="open" x-transition class="p-4 rounded-b-lg space-y-3">
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                </div>
                            </div>
                            <div class="rounded-lg overflow-clip border-base-100 shadow"  x-data="{open: false}">
                                <div class="flex justify-between bg-base-300 rounded-t-lg">
                                    <div class="flex justify-start items-center gap-4">
                                        <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                            {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                        </span>
                                        <span class="uppercase">Escalations Filter</span>
                                    </div>
                                    <div class="flex justify-end gap-2 lg:gap-8 pr-4">
                                        <div class="flex justify-end items-center gap-2 lg:gap-4">
                                            <button type="button" class="py-1 px-3 text-sm rounded-lg bg-base-100 border-base-100 flex justify-center items-center gap-2">
                                                Actions <i class="fa fa-angle-down"></i>
                                            </button>
                                            <button type="button" class="py-1 px-3 text-sm rounded-lg bg-base-100 border-base-100 flex justify-center items-center gap-2">
                                                <i class="fa fa-pencil"></i> Edit
                                            </button>
                                        </div>
                                        <button type="button" class="p-2" @click="open = !open">
                                            <i :class="['fa', 'fa-angle-up', 'transition-transform', open ? '' : '-rotate-180']"></i>
                                        </button>
                                    </div>
                                </div>
                                <div x-show="open" x-transition class="p-4 rounded-b-lg space-y-3">
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start lg:items-center gap-3">
                                                <select class="rounded-lg px-3 py-2  bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2  bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2  bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start lg:items-center gap-3">
                                                <select class="rounded-lg px-3 py-2  bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2  bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2  bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/reviews/ticket-assignments/new/add_filter" class="btn btn-sm text-sm rounded-lg bg-[#1A56DB]  text-white rounde-lg">Add Filter</a>
                    <div class="my-4 border-t border-base-200"></div>
                    <div class="flex justify-end items-center gap-4">
                        <a href="/reviews/assignment_dashboard/" class="btn flex justify-center items-center gap-2 max-lg:flex-1 lg:w-48 test-sm cursor-pointer">
                            Cancel
                        </a>
                        <button type="submit" class="btn flex justify-center items-center gap-2 bg-[#1A56DB]  text-white max-lg:flex-1 lg:w-48 test-sm">Create Ticket</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}