{% extends "base.html" %}

{% block content %}
<div class="mx-auto py-6 px-4">
    <!-- Bread Crumb -->
    <ul class="bg-base-100 border-base-100 rounded-lg px-4 py-3 inline-flex justify-start items-center gap-4 whitespace-nowrap overflow-auto max-w-full">
        <li><a href="/reviews/assignment_dashboard/">Assignments</a></li>
        <li><i class="fa fa-angle-right"></i></li>
        <li><a href="/reviews/ticket-assignments/new/">Create manual Assignment</a></li>
        <li><i class="fa fa-angle-right"></i></li>
        <li><a href="#">Add Filters</a></li>
    </ul>
    <div class="mt-8">
        <h4 class="text-4xl">Create Ticket Assignment</h4>
        <div class="rounded-lg px-6 py-6 bg-base-100 mt-6">
            <form method="post">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="space-y-4">
                    <div class="space-y-4">
                        <div class="flex max-lg:flex-col justify-between gap-3">
                            <h6 class="text-2xl">Filters</h6>
                            <div class="flex justify-end items-center gap-4">
                                <div class="relative">
                                    <button type="button" class="absolute w-12  h-full inline-flex justify-center items-center"><i class="fa fa-search"></i></button>
                                    <input type="search" class="py-3 pl-10 pr-3 rounded-lg border bg-transparent max-lg:flex-1 lg:w-48 text-sm" placeholder="Search"  />
                                </div>
                                <button type="button" class="btn rounded-lg flex justify-center items-center gap-2 bg-base-300 max-lg:flex-1 lg:w-48 test-sm whitespace-nowrap">
                                    <i class="fa fa-cog"></i> Filter Settings
                                </button>
                            </div>
                        </div>
                        <p>2 filters selected</p>
                        <!-- Filter group -->

                        <div class="space-y-3">
                            <div class="rounded-lg overflow-clip bg-base-300 shadow flex justify-between items-center">
                                <div class="flex justify-start items-center gap-4">
                                    <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                        <img src="/static/images/icon/th.svg" />
                                    </span>
                                    <span class="uppercase">filter a</span>
                                </div>
                                <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="rounded-lg overflow-clip bg-base-300 shadow flex justify-between items-center">
                                <div class="flex justify-start items-center gap-4">
                                    <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                        <img src="/static/images/icon/th.svg" />
                                    </span>
                                    <span class="uppercase">filter b</span>
                                </div>
                                <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Filter tab -->
                    <div class="space-y-4" x-data="{tab: 'select'}">
                        <!-- TAB CONTROL -->
                        <div class="border-b border-base-300 flex justify-start gap-4">
                            <button type="button" :class="['py-3', tab == 'select' ? 'text-[#1C64F2] border-b border-b-[#1C64F2]' : '']" @click="tab = 'select'">Select Filters</button>
                            <button type="button" :class="['py-3', tab == 'create' ? 'text-[#1C64F2] border-b border-b-[#1C64F2]' : '']" @click="tab = 'create'">Create new filter</button>
                        </div>
                        <!-- tab 1 -->
                        <div class="space-y-4" x-show="tab == 'select'" x-transition>
                            <div class="rounded-lg overflow-clip border-base-100 shadow"  x-data="{open: true}">
                                <div class="flex justify-between bg-base-300 rounded-t-lg">
                                    <div class="flex justify-start items-center gap-4">
                                        <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="uppercase">filter a</span>
                                    </div>
                                    <div class="flex justify-end gap-2 lg:gap-8 pr-4">
                                        <div class="flex justify-end items-center gap-4">
                                            <button type="button" class="py-1 px-3 text-sm rounded-lg bg-base-100 border-base-100 flex justify-center items-center gap-2">
                                                <i class="fa fa-pencil"></i> Edit
                                            </button>
                                        </div>
                                        <button type="button" class="p-2" @click="open = !open">
                                            <i :class="['fa', 'fa-angle-up', 'transition-transform', open ? '' : '-rotate-180']"></i>
                                        </button>
                                    </div>
                                </div>
                                <div x-show="open" x-transition class="p-4 rounded-b-lg space-y-3">
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center lg:items-center px-4 py-5 border-r border-r-base-100">
                                                <img src="/static/images/icon/th.svg" />
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                <img src="/static/images/icon/th.svg" />
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                </div>
                            </div>
                            <div class="rounded-lg overflow-clip border-base-100 shadow"  x-data="{open: false}">
                                <div class="flex justify-between bg-base-300 rounded-t-lg">
                                    <div class="flex justify-start items-center gap-4">
                                        <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        <span class="uppercase">Escalations Filter</span>
                                    </div>
                                    <div class="flex justify-end gap-2 lg:gap-8 pr-4">
                                        <div class="flex justify-end items-center gap-4">
                                            <button type="button" class="py-1 px-3 text-sm rounded-lg bg-base-100 border-base-100 flex justify-center items-center gap-2">
                                                <i class="fa fa-pencil"></i> Edit
                                            </button>
                                        </div>
                                        <button type="button" class="p-2" @click="open = !open">
                                            <i :class="['fa', 'fa-angle-up', 'transition-transform', open ? '' : '-rotate-180']"></i>
                                        </button>
                                    </div>
                                </div>
                                <div x-show="open" x-transition class="p-4 rounded-b-lg space-y-3">
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start lg:items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center items-center px-4 py-5 border-r border-r-base-100">
                                                {% include "shared/elements/svg_color.html" with src='/static/images/icon/th.svg' class_name="!w-4 !h-4" %}
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start lg:items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab 2 -->
                        <div class="space-y-4" x-show="tab == 'create'" x-transition>
                            <div class="rounded-lg overflow-clip border-base-100 shadow"  x-data="{open: true}">
                                <div class="flex justify-between bg-base-300 rounded-t-lg">
                                    <div class="flex justify-start items-center gap-4 p-4">
                                        
                                        <span class="uppercase">filter builder</span>
                                    </div>
                                </div>
                                <div x-show="open" x-transition class="p-4 rounded-b-lg space-y-3">
                                    <input type="text" class="rounded-lg p-3 border border-base-100 block w-80 text-sm bg-base-300" placeholder="Filter Name">
                                     <div class="rounded-lg bg-base-200 border-base-100 flex justify-between lg:items-center">
                                        <div class="flex justify-start lg:items-center gap-4">
                                            <span class="flex justify-center lg:items-center px-4 py-5 border-r border-r-base-100">
                                                <img src="/static/images/icon/th.svg" />
                                            </span>
                                            <div class="flex max-lg:flex-col max-lg:py-2 justify-start items-center gap-3">
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                                <select class="rounded-lg px-3 py-2 bg-base-300 border border-base-100 block w-48 text-sm "></select>
                                            </div>
                                        </div>
                                        <button type="button" class="flex justify-center items-center px-4 py-5 border-s border-s-base-100">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                     </div>
                                     <button type="button" class="btn border border-base-200 gap-3">
                                        <i class="fa fa-plus"></i> Add condition
                                    </button>
                                </div>
                            </div>
                            
                            <div class="flex justify-end">
                                <button class="btn py-1 bg-[#1A56DB] hover:bg-[#2c52a3] text-white w-36 test-sm whitespace-nowrap">Create Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 border-t border-base-300"></div>
                    <div class="flex justify-end items-center gap-4">
                        <a class="btn bg-base-300 max-lg:flex-1 lg:w-48 test-sm cursor-pointer">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                        <button class="btn bg-[#1A56DB]  text-white max-lg:flex-1 lg:w-48 test-sm">Save Filters</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}