<!-- CREATED BY SMARTDEV-CODE 08/15/2024 -->
{% extends "allauth/layouts/base.html" %}
{% block content %}
<div class="text-black">
    <h1 class="text-black text-[48px] text-left">Reset Password</h1>
    <form class="mt-8 space-y-6" method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="space-y-2">
            <label for="id_email">Your email</label>
            <input type="email" id="id_email" name="email" class="rounded-lg border px-3 py-2 w-full border-gray-300" placeholder="name@example.com" />
            {% if form.email.errors %}
                <div class="text-red-600">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="flex justify-between items-center gap-4">
            <a href="/accounts/login" class="rounded-lg w-full py-3 border border-gray-300 hover:bg-gray-200 flex justify-center items-center gap-2">
                <img src="/static/images/icon/ico-arrow-left.png" /> Back to Login
            </a>
            <button type="submit"
                class="rounded-lg w-full py-3 bg-[#1A56DB] text-white hover:bg-blue-500">Reset my password</button>
        </div>
        
    </form>
</div>
{% endblock %}