<div class="p-4 space-y-6">
    <!-- Reviews -->
     <div class="rounded-lg overflow-clip border border-base-300">
        <div class="rounded-t-lg bg-base-200">
            <div class="flex justify-start items-center gap-2 px-4 py-3">
                <span class="font-bold font-lg">Reviews</span> <span class="inline-flex justify-center items-center w-5 h-5 bg-[#FDE8E8] text-[#9B1C1C] rounded-full font-bold">3</span>
            </div>
        </div>
        <div class="border border-base-200 px-4 py-3 space-y-4">
            <div class="font-bold">Latest Review</div>
            <div class="flex justify-start gap-4">
                <div class="flex flex-shrink-0 justify-start items-center">
                    <!-- FOR EMPTY IMAGE -->
                    <span class="w-10 h-10 rounded-full flex-shrink-0 flex bg-base-200 justify-center items-center">B</span>
                    <img src="/static/images/avatar/1.png" alt="AVATAR" class="w-10 h-10 rounded-full flex-shrink-0 -ml-1" />
                </div>
                <div class="text-sm">
                    <div class="text-opacity-75">Jack M.</div>
                    <div class="flex items-center gap-2 justify-start">
                        <i class="fa fa-arrow-right"></i> Boris
                    </div>
                </div>
            </div>
            <div class="rounded-lg bg-base-200 px-4 py-3 space-y-3">
                <div class="text-opacity-80">Scorecard:calls(support)</div>
                <ul class="space-y-2 pb-8 relative">
                    <li class="flex justify-between items-center">
                        <span>2 option select</span> <span>Good</span>
                    </li>
                    <li class="flex justify-between items-center">
                        <span>3 option select</span> <span>Bad</span>
                    </li>
                    <li class="flex justify-between items-center">
                        <span>4 option select</span> <span>🙂</span>
                    </li>
                    <li class="flex justify-between items-center">
                        <span>5 option select</span> <span>🙂</span>
                    </li>
                    <!-- LOAD MORE -->
                    <div class="absolute bottom-0 py-2 flex justify-center left-0 w-full">
                        <button class="btn btn-xs whitespace-nowrap flex flex-nowrap justify-center items-center rounded-2xl bg-base-100">Show more <i class="fa fa-angle-down"></i></button>
                    </div>
                </ul>
            </div>
            <button class="btn btn-block">See all comments</button>
        </div>
     </div>

     <!-- ACTIONS -->

     <div class="mt-8 space-y-4">
        <button class="btn btn-block bg-[#1A56DB] text-white">Save Review This Ticket</button>
        <button class="btn btn-block">Review This Ticket</button>
        <button class="btn btn-block btn-outline border-[#1A56DB]"><i class="fa fa-shopping-cart"></i> Review This Ticket</button>
        <button class="btn btn-block btn-outline border-[#1A56DB]"><i class="fa fa-shopping-cart"></i> Add to Assignment</button>
     </div>
     <div x-data="accordion()" class="rounded-md border border-base-200 overflow-clip">
        <div class="rounded-md">
            <!-- Accordion Header -->
            <button @click="toggle(0)"
                class="w-full text-left flex justify-between items-center py-3 rounded-t-lg rounded-b-none px-4 rounded-md focus:outline-none"
                :class="{ 'bg-base-200': openIndex === 0 }">
                <span class="font-semibold">Conversation Data</span>
                <i :class="{ 'rotate-180': openIndex === 0, 'rotate-0': openIndex !== 0 }" class="fa fa-angle-down"></i>
            </button>
            <!-- Accordion Content -->
            <div x-show="openIndex === 0" class="px-4 py-5">
                <ul>
                    <li><b>Participants: </b>J {{ ticket.agent.username }}</li>
                    <li><b>Assignee: </b>{{ ticket.agent.username }}</li>
                    <li><b>Freshdesk ID: </b>{{ ticket.external_id }}</li>
                    <li><b>Email: </b> {{ ticket.agent.email }}</li>
                    <li><b>Channel: </b>portal</li>
                    <li><b>Status: </b>{{ ticket.status }}</li>
                    <li><b>Priority: </b>{{ ticket.ticket_data.priority }}</li>
                    <li><b>Tags: </b>Driver Theft</li>
                    <li><b>Group: </b>Customer Support - US</li>
                </ul>
            </div>
        </div>

        <div class="rounded-md">
            <!-- Accordion Header -->
            <button @click="toggle(1)"
                class="w-full text-left flex justify-between items-center py-3 rounded-t-lg rounded-b-none px-4 rounded-md focus:outline-none"
                :class="{ 'bg-base-200': openIndex === 1 }">
                <span class="font-semibold">Data 2</span>
                <i :class="{ 'rotate-180': openIndex === 1, 'rotate-0': openIndex !== 1 }" class="fa fa-angle-down"></i>
            </button>
            <!-- Accordion Content -->
            <div x-show="openIndex === 1" class="mt-2 p-4">
                <p>This is the content for section 2. You can put any HTML here.</p>
            </div>
        </div>

        <div class="rounded-md">
            <!-- Accordion Header -->
            <button @click="toggle(2)"
                class="w-full text-left flex justify-between items-center py-3 rounded-t-lg rounded-b-none px-4 rounded-md focus:outline-none"
                :class="{ 'bg-base-200': openIndex === 2 }">
                <span class="font-semibold">Stats</span>
                <i :class="{ 'rotate-180': openIndex === 2, 'rotate-0': openIndex !== 2 }" class="fa fa-angle-down"></i>
            </button>
            <!-- Accordion Content -->
            <div x-show="openIndex === 2" class="mt-2 p-4">
                <p>This is the content for section 2. You can put any HTML here.</p>
            </div>
        </div>
        <!-- Add more sections as needed -->
        <script>
            function accordion() {
                return {
                    openIndex: 0,
                    toggle(index) {
                        this.openIndex = this.openIndex === index ? null : index;
                    }
                }
            }
        </script>
    
    </div>

    <!-- Comments List -->
    <div x-data="accordion()" class="rounded-md border border-base-200 overflow-clip">
        <div class="rounded-md">
            <!-- Accordion Header -->
            <button @click="toggle(0)"
                class="w-full text-left flex justify-between items-center py-3 rounded-t-lg rounded-b-none px-4 rounded-md focus:outline-none"
                :class="{ 'bg-base-200': openIndex === 0 }">
                <span class="font-semibold">Comments</span>
                <i :class="{ 'rotate-180': openIndex === 0, 'rotate-0': openIndex !== 0 }" class="fa fa-angle-down"></i>
            </button>
            <!-- Accordion Content -->
            <div x-show="openIndex === 0" class="px-4 py-5 space-y-5">
                <p class="text-opacity-70">Recent 2 messages</p>
                <div class="space-y-4">
                    <div class="space-y-2">
                        <div class="flex justify-start items-center gap-2">
                            <img src="/static/images/avatar/1.png" class="w-10 h-10 rounded-full flex-shrink-0" />
                            <div><b>Dianne Russell</b><span class="text-opacity-70 ms-2">24 min</span></div>
                        </div>
                        <p>But don't you think the timing is off because many other apps have done this even earlier,
                            causing people to switch apps?</p>
                    </div>
                    <div class="space-y-2">
                        <div class="flex justify-start items-center gap-2">
                            <img src="/static/images/avatar/1.png" class="w-10 h-10 rounded-full flex-shrink-0" />
                            <div><b>Ester Howard</b><span class="text-opacity-70 ms-2">26 min</span></div>
                        </div>
                        <p>This could be due to them taking their time to release a stable version.</p>
                    </div>
                </div>
                <button class="btn btn-block bg-base-200">
                    See all comments
                </button>
            </div>
        </div>
    </div>

    <script>
        function accordion() {
            return {
                openIndex: 0,
                toggle(index) {
                    this.openIndex = this.openIndex === index ? null : index;
                }
            }
        }
    </script>

</div>