<div id="conversation-view" class="h-full flex flex-col">
    <div class="px-8 py-4 border-b border-b-base-100 space-y-2">
        <h2 class="text-xl font-bold">{{ ticket.subject }}</h2>
        <p class="text-sm text-opacity-70">Last activity {{ ticket.created_at|date:"D, M d" }}</p>
    </div>
    <div class="flex-1 shadow rounded overflow-y-auto">
        <!-- REMOVED BY SMARTDEV-CODE 08/16/2024 -->
        <!-- {% for conversation in conversations %}
        <div class="mb-4">
            <p class="text-sm text-gray-600">{{ conversation.created_at }}</p>
            <p class="text-lg">{{ conversation.agent.username }}</p>
            <p class="p-2 bg-gray-100 rounded">
                {{ conversation.body |safe }}
            </p>
        </div>
        {% endfor %} -->
        <div class="space-y-8  p-6">
            {% for chat in chats %}
            <div class="custom-chat">
                <!-- TIME LANGE TEXT -->
                <p class="text-center text-sm font-bold">5 hours ago</p>
                <div class="flex mt-2 gap-2 {% if chat.type == 2 %}flex-row-reverse{% endif %}">
                    <img src="{{ chat.author.avatar }}" class="w-10 h-10 flex-shrink-0 rounded-full" />
                    <div class="flex-1">
                        <div class="flex {% if chat.type == 2 %} justify-end {% endif %}">
                            <span class="font-bold">{{ chat.author.name }}</span>
                            <span class="text-opacity-70 ms-2">{{ chat.created_at }}</span>
                        </div>
                        <div
                            class="px-4 py-5 text-gray-700 rounded-2xl {% if chat.type == 1 %}bg-[#F3F4F6] rounded-tl-none{% else %}bg-[#EBF5FF] rounded-tr-none{% endif %}">
                            {{ chat.content|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "_ai_insights.html" with tickets=tickets %}
</div>